<style>

    #date-peacker {
        width: 50px;
        height: 30px;
        margin: 0px;
        padding: 0px;
        margin-right:2px;
        float:left;
    }
    #date-menu input {
        width: 50px;
        height: 30px;
    }
</style>

<div id="journal">
    <button id="date-peacker"><img src="Images/DatePicke30px.png"></button>
    <div id="date-menu">
        <input type="radio" id="day1"><label id="day-txt1" class="day-txt-class" for="day1"></label>
        <input type="radio" id="day2"><label id="day-txt2" class="day-txt-class" for="day2"></label>
        <input type="radio" id="day3" checked="checked"><label id="day-txt3" class="day-txt-class" for="day3"></label>
        <input type="radio" id="day4"><label id="day-txt4" class="day-txt-class" for="day4"></label>
        <input type="radio" id="day5"><label id="day-txt5" class="day-txt-class" for="day5"></label>
    </div>
    <div id="hours-journal" style="height:100px; border: 5px solid"></div>
</div>