<h1 class="user-h1">Daily journal</h1>
<div id="journal">
    <button id="date-peacker"><img src="Images/DatePicke30px.png"></button>
    <div id="date-menu">
        <input type="button" id="day1" class="day-btn-class" name="radio" />
        <input type="button" id="day2" class="day-btn-class" name="radio" />
        <input type="button" id="day3" class="day-btn-class" name="radio" />
        <input type="button" id="day4" class="day-btn-class" name="radio" style="display:none"/>
        <input type="button" id="day5" class="day-btn-class" name="radio" style="display:none"/>
    </div>
    <div id="hours-journal">
        <ul id="hourList">
            @{
                for(int i = 1; i <= 24; i++)
                {
                    string id = "hour" + @i;
                    <li id="@id"></li>
                }
            }
        </ul>
    </div>
    <div id="journal-day-resault">

    </div>
</div>